.chat-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.chat-box {
    /* border: 1px dashed blue; */
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 151px);
    line-height: 24px;
    font-size: 16px;
    letter-spacing: normal;
    color: #0d0d0d;
    font-family: sans-serif;
    overflow-y: scroll;
}

.chat-input-prompt-box {
    /* border: 2px dashed green; */
    width: 100%;
    padding: 0 30px;
}

.chat-log {
    /* border: 2px dashed green; */
    max-width: 70vw;
    min-width: 60%;
    min-height: 80%;
    margin: 0 40px;
    padding: 30px;
}

.chat-box-empty-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px dashed red; */
}

.welcome-text {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 600;
}

.welcome-text>span {
    color: #ED9620;
    letter-spacing: -2px;
}

.logo-inside-chatbox {
    width: 100px;
    height: 100px;
}

.chat-message {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
}

.ai-avatar {
    min-width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    border-radius: 50%;
}

.fox-icon {
    width: 100%;
    height: 100%;
    /* padding: 3px; */
}

.ai-message {
    text-align: justify;
}

.chat-ai {
    /* border: 1px solid grey; */
    display: flex;
    justify-content: start;
}

.chat-human {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    text-align: justify;
}

.human-message {
    padding: 10px 20px;
    background-color: #f4f4f4;
    border-radius: 25px;
    max-width: 60%;
}

.ai-actions {
    padding: 20px 10px;
    display: flex;
    gap: 10px;
}

.action-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}