.upload-container {
    display: flex;
    justify-content: center;
}

.upload-form {
    margin-top: 50px;
    border-radius: 20px;
    background-color: #f2f2f2;
    box-shadow: 10px 10px 20px #f2f2f2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.upload-action {
    display: flex;
    justify-content: center;
}

.upload-button {
    padding: 10px 25px;
    border: 1px solid black;
}